@font-face {
    font-family: 'Georgia Regular';
    src: url('../fonts/Georgia.eot');
    src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia.woff') format('woff'),
    url('../fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    

@mixin georgia {
    font-family: 'Georgia Regular', serif;
}
@mixin arial {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@mixin timesnr {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}